:root {
  font-family: 'Space Mono', monospace;
  --light: #F1EDEE;
  --primary: #3D5467;
  --secondary: #8AA29E;
  --dark: #2E2E2E;
  color: var(--dark);
}

body {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  background-color: var(--light);
}

h1 {
  font-family: 'Caveat', cursive;
  color: var(--primary);
  font-size: 2.5rem;
  margin: 3rem 0 3rem 0;
  text-align: center;
  padding: 0 3rem 0 3rem;
}

p {
  line-height: 1.6rem;
  padding: 0 3rem 0 3rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#page {
  max-width: 1000px;
}

.tabs {
  justify-content: center;
  padding: 0 3rem 0 3rem;
}

.tab {
  border: 2px solid var(--primary);
  border-bottom-width: 0px;
  padding: 2rem;
  margin: 0 3rem 0 3rem;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100%;
  justify-content: center;
  font-size: 1.5rem;
}

.tab:last-child {
  border-bottom-width: 2px;
}

.active {
  background-color: var(--primary);
  color: var(--light);
}

.container_img {
  width: 350px;
  height: 350px;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border: 50px solid var(--secondary);
}

@media screen and (min-width: 768px) {
  .tabs {
    display: flex;
  }

  .tab {
    margin: 0;
    border-bottom-width: 2px;
    border-right-width: 0px;
  }

  .tab:last-child {
    border-right-width: 2px;
  }
}